# EMAIL_HOST=serveras.digilifes.com
# EMAIL_PORT=587
# EMAIL_SECURE=true
# EMAIL_USER=support@aksharsync.com
# EMAIL_PASS=zOgVw7zn*QXx
# EMAIL_TO=kavasmit603@gmail.com



EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=smitkava21@gmail.com
EMAIL_PASS=runk xylt oexa eut
EMAIL_TO=smitkava21@gmail.com

