# Email Configuration
# You can use Gmail, SendGrid, Resend, etc.
# For Gmail, you may need to create an "App Password"

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=smitkava21@gmail.com
EMAIL_PASS=htil didn sjvy rtdf
EMAIL_TO=kavasmit603@gmail.com
